<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089359652740-g412afnl53c4v4o325nmrgfjqua4h2bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089359652740-g412afnl53c4v4o325nmrgfjqua4h2bf</string>
	<key>API_KEY</key>
	<string>AIzaSyAtR0CiEOwaVNQP0Gc3355nlHn_EGzasoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1089359652740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.topnetwork.HiWallet</string>
	<key>PROJECT_ID</key>
	<string>hiwallet-28774</string>
	<key>STORAGE_BUCKET</key>
	<string>hiwallet-28774.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089359652740:ios:72a39704f62a1745859fd1</string>
	<key>DATABASE_URL</key>
	<string>https://hiwallet-28774.firebaseio.com</string>
</dict>
</plist>